<nav class="navbar navbar-expand-lg navbar-light bg-light container">

  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <!-- <a class="navbar-brand" routerLinkActive="backgroundd"
       [routerLinkActiveOptions]="{exact:true}" [routerLink]="['']">Home
    </a> -->
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="backgroundd"
           [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/register'] ">Register
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="backgroundd"
           [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/addIdeas'] ">addIdeas
        </a>
      </li>
    </ul>

  </div>
</nav>

<router-outlet></router-outlet>

<div class="container">
  The users are
  <tr *ngFor="let Custmmr of ccustmr" class="form-control">
    <td><b> ID</b> {{Custmmr.id}}</td>
    <br>
    <td> <b> User name </b> @{{Custmmr.userNem}}</td>
    <br>
    <td><b>PassWord</b> is( {{Custmmr.passWord}} )</td>
    <br>

  </tr>
</div>
<!--<app-header></app-header>-->
<!--<button><a><img class="img" src="" width="100" height="100">add</a></button>-->


